<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Find an Replace</title>
    </head>

        <body>
          <div class='container'>
            <div class='jumbotron'>
              <h1>Find and Replace Any Word</h1>
            </div>  <!-- /JUMBOTRON -->

        <!-- Row: 1 -->
            <div class='row'>
              <div class='col-sm-6'>
                  <h2>Enter a Prase</h2>
                  <form class='form-group' action='/userInput' method='post'>
                      <div class='form-group'>
                        <label for='phrase'>Phrase</label>
                        <input id='phrase' name='phrase' type='text'>
                      </div>
                      <div>
                        <label for='find'>Find Word</label>
                        <input id='find' name='find' type='text'>
                      </div>
                      <div>
                        <label for='replace'>Replace Word</label>
                        <input id='replace' name='replace' type='text'>
                      </div>
                      <button class='btn btn-warning' type='submit'>Submit!</button>
                </form>
            </div>  <!-- /col-sm-6 -->
          </div>  <!-- /Row -->

<!-- Results ------------>
        <!-- Row: 2 -->
          <div class="row">
              <div class="col-sm-6">
                    <ul>
                        <!-- {% for result in results %}
                            <li>{{ result }}</li>
                        {% endfor %} -->
                    </ul>

              </div><!--col-sm-6-->
          </div><!--row-->
      </div>  <!-- /Container  -->









        </body>
</html>
